---

---


<section id="about">
    <h2>Sobre mi</h2>
    <div class="desc-container">
        <p class="desc">
            Soy esposo, padre y docente con 6 años de experiencia en educación. A lo largo de mi trayectoria, he trabajado en distintos ámbitos, no solo en informática o enseñanza. Me apasiona la tecnología, la programación y ayudar a mis alumnos a prepararse para el futuro.
        </p>
        <details >
            <summary class="details-title">Más sobre mi</summary>
            <h3>✨ 1. Motivación personal</h3>
            <p>Desde que descubrí el impacto que puede tener la tecnología en la vida de las personas, me propuse acercarla a mis estudiantes de una manera accesible, creativa y significativa.</p>
            <h3>💬 "La educación no es llenar un balde, sino encender un fuego."</h3>
            <p>Esta frase guía mi trabajo: busco despertar la curiosidad y el pensamiento crítico en cada estudiante.</p>
            <h3>🧠 Eterno autodidacta</h3>
            <p>Soy un convencido de que nunca se deja de aprender. Por eso, además de enseñar, sigo formándome y enfrentando nuevos desafíos profesionales.</p>
        </details>
    </div>
    

</section>


<style>

    section{
        min-height: 60vh;
    }
   h2{
    text-align: center;
    font-size: 32px;
    padding: 16px;
   }

   .desc {
    font-size: 20px;
   }
   .desc-container {
    margin: auto;
    margin-top: 40px;
    width: 85%;
    height: 20%;
    background-color: #ffffff31;
    padding: 25px;
    border-radius: 25px;
    align-content: center;
   }

   .details-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
}

h3{
    padding: 10px;
}

details p {
    padding: 8px;
}
</style>