---
import About from "../components/Sections/About.astro";
import ContaMe from "../components/Sections/ContaMe.astro";
import Footer from "../components/Sections/Footer.astro";
import Hero from "../components/Sections/Hero.astro";
import Project from "../components/Sections/Project.astro";
import Skills from "../components/Sections/Skills.astro";
import Teaching from "../components/Sections/Teaching.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Skills />
    <Project />
    <Teaching />
    <ContaMe />
    <Footer />
  </main>
</Layout>
