<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="HCA.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Mi Portfolio | Hernaldo Cristian Alarcón</title>
    <meta
      name="description"
      content="Sitio personal de Hernaldo Cristian Alarcón, docente de informática y desarrollador de software en Patagonia, Argentina."
    />
    <meta
      property="og:title"
      content="Mi Portfolio | Hernaldo Cristian Alarcón"
    />
    <meta
      property="og:description"
      content="Sitio personal de Hernaldo Cristian Alarcón, docente de informática y desarrollador web."
    />
    <meta property="og:url" content="https://hcalarcon.github.io/Portfolio/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" /><meta
      name="twitter:title"
      content="Mi Portfolio | Hernaldo Cristian Alarcón"
    /><meta
      name="twitter:description"
      content="Docente, desarrollador y apasionado por la educación y la tecnología."
    /></head
  >

  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  html,
  body {
    scroll-behavior: smooth;
    margin: 0;
    background-image: linear-gradient(to top, #9b05e0, #300050);
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  p {
    color: #fff;
    margin: 0;
    pading: 0;
  }

  section {
    background-color: transparent;
    min-height: 60vh;
  }

  .animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition:
      opacity 0.6s ease-out,
      transform 0.6s ease-out;
  }

  .animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
  }
</style>

<script type="module" is:inline>
  import { animateOnScroll } from "./scripts/animateOnScroll.js";
  animateOnScroll(); // puede aceptar un selector personalizado
</script>
