<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		integrity="sha512-..."
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
	  />
		<title>Cristian Alarcón</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	* {
  		box-sizing: border-box;
	}

	html,
	body {
		scroll-behavior: smooth;
		margin: 0;
		background-image: linear-gradient(to top, #9B05E0, #300050);
		overflow-x: hidden;
	}


	h1,h2,h3,p{
		color: #fff;
		margin: 0;
		pading: 0;
	}

	section {
		background-color: transparent;
		min-height: 60vh;
	}
</style>
